<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2 class="h2">Pictogram List</h2>
  <a routerLink="/add-pictogram" class="btn btn-success" *ngIf="hidenWhenNoPictograms">Add Pictogram</a>
</div>

<div class="pricing-header mx-auto">
    <div class="no-data text-center" *ngIf="preLoader">
      <img src="assets/loading.gif" class="preloader-icon" alt="No pictogram" />
    </div>
  
    <div class="no-data text-center" *ngIf="noData">
      <img src="assets/no.gif" class="nodata-msg" alt="No pictogram" />
      <p class="nodata-msg">No pictogram added yet!</p>
      <a routerLink="/add-pictogram" class="btn btn-success"> Add Pictogram </a>
    </div>

    <div class="table-responsive row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" *ngIf="hidenWhenNoPictograms">
      <div class="card" *ngFor=" let pictogram of Pictogram | paginate: { itemsPerPage: 8, currentPage: p }; let i = index">
        <img src="{{ pictogram.imagePictogram }}"/>
        <div class="container">
          <p>{{ pictogram.namePictogram }}</p>
          <span class="mr-2 btn btn-outline-primary btn-sm" routerLink="/edit-pictogram/{{ pictogram.$key }}">Edit</span>
          <span class="btn btn-outline-danger btn-sm" (click)="deletePictogram(pictogram)">Delete</span>
        </div>
      </div>
  </div>

  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  <script src="script.js"></script>
</div>

<router-outlet></router-outlet>