<!-- Navegació de adalt -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <!-- Pàgina principal -->
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/pictograms-list">
      <span span class="logo-image" style="background-image: url('assets/logo.png')"></span>
    </a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <!-- Autentificació amb Google -->
        <a class="nav-link" routerLink="/pictograms-list">
            <span class="user-image" style="background-image: url('assets/user.png')" (click)="authService.GoogleAuth()"></span>
        </a>
      </li>
    </ul>
  </nav>
  
  <!-- Barra de navegación -->
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <!-- Link per anar el Component Add-Pictogram -->
              <a class="nav-link" routerLink="/add-pictogram" routerLinkActive="active">Afegir Pictograma</a>
            </li>
            <li class="nav-item">
              <!-- Link per anar el Component List-Pictogram -->
              <a class="nav-link" routerLink="/pictograms-list"routerLinkActive="active">Llista Pictogrames</a>
            </li>
            <li class="nav-item">
              <!-- Link per anar el Component Web-Pictogram -->
              <a class="nav-link" routerLink="/web-pictogram" routerLinkActive="active">Crear Pàgina Pictogrames</a>
            </li>
          </ul>
        </div>
      </nav>
  
      <!-- Contingut de la pàgina -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="inner-adjust">
          <router-outlet></router-outlet>
        </div>
      </main>
    </div>
  </div>
  